.imagens-preview{
    height: 220px;
    width: 100%;
    background: rgb(247, 247, 247);
    position: absolute;
    overflow: hidden;
    overflow-x: auto;
    z-index: 999;
    bottom: 0;
}
.botoes{
    position: absolute;
    top:20px;
    right: 360px;
    z-index: 999;
}
